.head-background {
  background-image: url("/Portfolio/Images/cliffsbg.jpg");
  background-repeat: no-repeat;
  background-color: #697088;
  height: 487px;
}
.navigation {
  display: flex;
  position: sticky;
  background-color: rgb(73, 132, 209);
  width: 100em;
  top: 487px;
  padding: 8px 8px;
}
